/* General Css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
  line-height: normal;
}
:root {
  --black: #000000e6;
  --green: #18d26e;
  --gray: #aaaaaa;
  --white: #fff;
  --lighterblack: #ffffff14;
}
html {
  scroll-behavior: smooth;
}
/* customize scroll bar */
::-webkit-scrollbar {
  width: 10px;
  margin-left: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--black);
}
::-webkit-scrollbar-thumb {
  background-color: var(--green);
}
body {
  position: relative;
  background-color: #101010;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
  line-height: 28px;
}
h1 {
  font-size: 32px;
  font-weight: 700;
}
h2 {
  font-size: 26px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  font-weight: 600;
}
h4 {
  font-size: 20px;
  font-weight: 500;
}
p {
  font-size: 16px;
  font-weight: 400;
  color: white;
}
a {
  color: inherit;
  text-decoration: none;
}
.wrap {
  margin: 20px 104px;
  background: var(--black);
  padding: 30px;
  height: auto;
}

.btn {
  padding: 8px 16px;
  color: var(--white);
  font-size: 16px;
  background-color: var(--green);
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  opacity: 0.9;
}

/* Navbar */

nav {
  align-items: center;
  background-color: var(--black);
  display: flex;
  height: 80px;
  justify-content: space-between;
  left: 0;
  padding: 0 104px;
  position: fixed;
  right: 0;
  z-index: 1000;
}
nav h1 span {
  color: var(--green);
}
.links-container {
  align-items: center;
  display: flex;
  gap: 40px;
}
nav ul {
  display: flex;
  gap: 20px;
}
nav ul li a {
  color: var(--gray);
  font-weight: 300;
  font-size: 16px;
  transition: color 0.4s ease-in-out;
}
nav ul li a:hover {
  color: var(--white);
}

nav ul li {
  position: relative;
}
nav ul li::after {
  background-color: #18d26e;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 4px;
  transition: all 0.4s ease-in-out;
}
nav ul li:hover::after {
  width: 100%;
}
/* Hero section */
#hero {
  width: 100%;
  height: 100vh;
  background-image: url(images/bg\ new\ ts.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 104px;
  color: var(--white);
}
.typo {
  display: flex;
  flex-direction: column;
}
.typo h1 {
  margin: 20px 0;
}
.typo p {
  font-size: 24px;
  color: var(--gray) !important;
  margin-bottom: 16px;
}
.icons-container {
  margin-top: 40px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #495057;
}
.icon-circle:hover {
  background-color: var(--green);
  transition: all 0.4s ease-in-out;
}

/* ABOUT section */
#About {
  display: flex;
  flex-direction: column;
}
.title-name {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.title-name p {
  color: var(--gray);
  font-size: 18px;
}
.title-name span {
  width: 120px;
  height: 2px;
  background-color: var(--green);
  display: inline-block;
}
/* personal Details */
.personal {
  display: flex;
  margin-top: 35px;
}
.personal-img {
  flex: 1;
  height: 390px;
}
.personal-img img {
  width: 100%;
  height: 100%;
  background-position: center;
  object-fit: cover;
}
.personal-info {
  flex: 2;
  padding: 20px;
}
.personal-info-title h2 {
  color: var(--green);
  margin-bottom: 10px;
}
.personal-info-title p {
  font-size: 14px;
  line-height: 24px;
}
.personal-info-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 24px 0;
}
.details-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.detail-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.next {
  color: var(--green);
}
.detail-item span {
  color: var(--gray);
  margin-left: 5px;
}

.personal-info-desc p {
  font-size: 14px;
  line-height: 24px;
}
/* Personal skills */
.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 252px);
  column-gap: 25px;
  row-gap: 20px;
}
.skill-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--lighterblack);
  padding: 20px;
  transition: all 0.4s ease-in-out;
}
.skill-item:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.2);
}
/* Services section */
.service-cards-container {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(3, 355px);
  column-gap: 10px;
}
.services-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  background: var(--lighterblack);
  border-radius: 8px;
  transition: all 0.4s ease-in-out;
}
.services-card:hover {
  background: rgba(255, 255, 255, 0.2);
}
.card-icon-container {
  width: 64px;
  height: 64px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--green);
}
.card-icon-container .icon {
  color: var(--white);
  font-size: 24px;
}
.services-card-info {
  text-align: center;
}
.services-card-info h3 {
  margin: 18px;
}
/* Portfolio section */
.portfolio-box-container {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(3, 345px);
  column-gap: 25px;
  row-gap: 20px;
}
.work {
  position: relative;
  height: 258px;
}
.work-img {
  width: 100%;
  height: 100%;
}
.work-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}
.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgb(0, 0, 0, 0.7);
  transition: all 0.4s ease-in-out;
}
.overlay:hover {
  opacity: 1;
}
.project-name {
  font-weight: 600;
  font-size: 18px;
}
.project-category {
  margin: 15px 0;
  color: var(--gray);
}
.project-link {
  display: flex;
  align-items: center;
  gap: 25px;
}
.project-link .icon {
  font-size: 24px;
  color: white;
}
.project-link .icon:hover {
  color: var(--green);
}
/* Blogs section */
.blogs-container {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(3, 352px);
  column-gap: 20px;
  row-gap: 20px;
}
.blog {
  height: 360px;
  display: flex;
  flex-direction: column;
}
.blog-header {
  overflow: hidden;
  width: 100%;
  height: 220px;
  position: relative;
}
.blog-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}
.blog-header img:hover {
  transform: scale(1.2);
}
.blog-date {
  padding: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 123;
  height: 32px;
  background-color: var(--green);
}
.blog-footer h3 {
  font-size: 20px !important;
  margin: 10px 0;
  transition: color 0.4s ease-in-out;
  cursor: pointer;
}
.blog-footer h3:hover {
  color: var(--green);
}

.blog-footer p {
  color: var(--gray);
}
.btn-center {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
/* Contact section */
#Contact {
  display: flex;
  flex-direction: column;
}
.contact-address {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(2, 528px);
  column-gap: 30px;
  row-gap: 20px;
}
.address-item {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px;
  background-color: var(--lighterblack);
  height: 106px;
}
.address-item-icon {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #ffffff1a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.address-item-icon .icon {
  font-size: 18px;
  color: var(--green);
}
.address-item-info h3 {
  color: var(--gray);
  margin-bottom: 10px;
  font-size: 20px;
}
.address-item-info p {
  font-size: 14px;
  font-weight: 400;
}
/* contact form */
.contact-form-wrap {
  margin-top: 30px;
}
.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-input-container .first-child {
  display: flex;
  gap: 25px;
}
.first-child > div {
  flex: 1;
}
.form-input-container input[type="text"],
textarea {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  border: none;
  outline: none;
  padding: 10px 15px;
  background: #ffffff1a;
  width: 100%;
}
.form-input-container textarea {
  resize: none;
}
.form-input-container input[type="text"]:focus,
textarea:focus {
  outline: 1px solid var(--green);
}
/* footer  */
#footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #0000;
}

/* sign in page */
.signin-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signin-form {
  background-color: #000000e6;
  width: 500px;

  padding: 40px 30px;
  position: relative;
}
.signin-icon {
  top: -32px;
  left: 45%;
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
}
.signin-icon .icon {
  color: var(--white);
  font-size: 28px;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-group input {
  background-color: rgba(255, 255, 255, 0.102);
  color: var(--gray);
  padding: 10px 15px;
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
}
.input-group input:focus {
  border-bottom: 4px solid var(--green);
}
.input-flex {
  display: flex;
  justify-content: space-between;
}

/* Single Blog page */
.single-blog-wrap {
  padding: 90px 200px 40px 200px;
}
.single-blog-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.single-blog-titles-icon {
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.single-blog-titles-icon > div {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 10px;
}
.single-blog-titles-icon > div p {
  font-size: 14px;
}
.line {
  width: 80px;
  height: 4px;
  background-color: var(--green);
}
.blog-img {
  width: 100%;
  height: auto;
}
.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}
.blog-description {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blog-description p {
  font-size: 14px;
  line-height: 24px;
  color: var(--gray);
}
.line-through {
  width: 100%;
  height: 1px;
  background: #495057;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* Comments section */
.posted-comments {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.comment-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.comment-user-profile {
  width: 64px;
  height: 64px;
}
.comment-user-profile img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-position: ce;
}
.comment-content {
  padding: 10px 15px;
  background: var(--lighterblack);
  border-radius: 8px;
}
.comment-content p {
  color: var(--gray);
  font-size: 14px;
  line-height: 24px;
}
.comment-form {
  margin-top: 24px;
}
.comment-form p {
  font-size: 14px;
  color: var(--gray);
  margin-bottom: 20px;
}

nav .toggle_Btn {
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
/* Dropdown Menu */
.dropdown-menu {
  display: none;
  position: fixed;
  right: 0;
  top: 80px;
  height: 0;
  width: 200px;
  background-color: var(--black);
  z-index: 1000;
  border-radius: 8px;
  overflow: hidden;
  color: white;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu.open {
  height: auto;
}

/* Tablet Version */
@media screen and (max-width: 1050px) {
  nav {
    padding: 0 30px;
  }
  nav h1 {
    font-size: 26px;
  }
  nav ul,
  .btn_container {
    display: none;
  }
  nav .toggle_Btn {
    display: block;
  }
  .dropdown-menu {
    display: block;
  }

  .wrap {
    margin: 60px 0;
  }
  #hero {
    padding: 0 60px;
    background-position: 75%;
  }
  .service-cards-container,
  .portfolio-box-container,
  .blogs-container,
  .contact-address,
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
}

/* Mobile Version */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
    font-weight: 700;
  }
  .wrap {
    margin: 20px 0;
  }

  #hero {
    padding: 0 30px;
    background-position: 75%;
  }
  .personal {
    flex-direction: column;
  }
  .personal-info {
    padding: 0px;
    margin-bottom: 20px;
  }
  .personal-info-details {
    flex-direction: column;
  }

  .service-cards-container,
  .portfolio-box-container,
  .blogs-container,
  .contact-address,
  .skills-container {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .form-input-container .first-child {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  /* Single Blog page */
  .single-blog-wrap {
    padding: 20px 30px 10px 30px;
  }
  .single-blog-titles h2 {
    font-size: 22px;
    text-align: center;
  }
  /* sign in page */
  .signin-container {
    padding: 20px;
  }
  .signin-form {
    padding: 20px;
  }
  .input-group {
    gap: 15px;
  }
}
