/* General Css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
  line-height: normal;
}
:root {
  --black: #000000e6;
  --green: #18d26e;
  --gray: #aaaaaa;
  --white: #fff;
  --lighterblack: #ffffff14;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #101010;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
  line-height: 28px;
}
h1 {
  font-size: 36px;
  font-weight: 700;
}
h2 {
  font-size: 26px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  font-weight: 600;
}
p {
  font-size: 16px;
  font-weight: 400;
  color: white;
}
a {
  color: inherit;
  text-decoration: none;
}
.wrap {
  margin: 20px 104px;
  background: var(--black);
  padding: 30px;
  height: auto;
}
.btn {
  padding: 8px 16px;
  color: var(--white);
  font-size: 16px;
  background-color: var(--green);
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  opacity: 0.9;
}

/* Navbar */

nav {
  align-items: center;
  background-color: var(--black);
  display: flex;
  height: 80px;
  justify-content: space-between;
  left: 0;
  padding: 0 104px;
  position: fixed;
  right: 0;
  z-index: 1000;
}
nav h1 span {
  color: var(--green);
}
.links-container {
  align-items: center;
  display: flex;
  gap: 40px;
}
nav ul {
  display: flex;
  gap: 20px;
}
nav ul li a {
  color: var(--white);
  font-size: 16px;
  transition: color 0.4s ease-in-out;
}
nav ul li a:hover {
  color: var(--gray);
}

nav ul li {
  position: relative;
}
nav ul li::after {
  background-color: #18d26e;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 4px;
  transition: all 0.4s ease-in-out;
}
nav ul li:hover::after {
  width: 100%;
}
/* Hero section */
#hero {
  width: 100%;
  height: 100vh;
  background-image: url(images/bg\ new\ ts.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 104px;
  color: var(--white);
}
.typo {
  display: flex;
  flex-direction: column;
}
.typo h1 {
  margin: 20px 0;
}
.typo p {
  font-size: 24px;
  color: var(--gray) !important;
  margin-bottom: 16px;
}
.icons-container {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #495057;
}
.icon-circle:hover {
  background-color: var(--green);
  transition: all 0.4s ease-in-out;
}

/* ABOUT section */
#About {
  display: flex;
  flex-direction: column;
}
.title-name {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.title-name p {
  color: var(--gray);
  font-size: 18px;
}
.title-name span {
  width: 120px;
  height: 2px;
  background-color: var(--green);
  display: inline-block;
}
/* personal Details */
.personal {
  display: flex;
  margin-top: 35px;
}
.personal-img {
  flex: 1;
  height: 390px;
}
.personal-img img {
  width: 100%;
  height: 100%;
  background-position: center;
  object-fit: cover;
}
.personal-info {
  flex: 2;
  padding: 20px;
}
.personal-info-title h2 {
  color: var(--green);
  margin-bottom: 10px;
}
.personal-info-title p {
  font-size: 14px;
}
.personal-info-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 24px 0;
}
.details-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.detail-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.next {
  color: var(--green);
}
.detail-item span {
  color: var(--gray);
  margin-left: 5px;
}

.personal-info-desc p {
  font-size: 14px;
}
/* Personal skills */
.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 252px);
  column-gap: 25px;
  row-gap: 20px;
}
.skill-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--lighterblack);
  padding: 20px;
  transition: all 0.4s ease-in-out;
}
.skill-item:hover {
  background: rgba(255, 255, 255, 0.2);
}
